# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
/media/
/static_root/

# PyInstaller
build/
dist/
*.spec
*.exe
*.zip

# Otros
.vscode/
.idea/
.pytest_cache/
.agent/
.gemini/
